# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\goAcademy\dz11\stats\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
